@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border : solid 1px darkgray;
  background-color: slategray;
  padding: 0.8rem;
}

body.active-modal {
  overflow-y:  hidden;
}

input[type=text] {
  color: black;
}

select {
  color: black;
}

table
{
 width: 100%;
 border-collapse: collapse;
 text-align: left;
 table-layout: fixed;
}

th,td {
  border-bottom: 1px solid lightgray;
  padding: 1rem 1rem 1rem 0rem;
}
